## 02장 파이썬 프로그래밍의 기초, 자료형 ##

Q1. 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

In [1]:
a = 80

In [2]:
b = 75

In [3]:
c = 55

In [4]:
(a + b + c)/3

70.0

Q2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 말해 보자.

In [5]:
13 % 2

1

나머가 1이므로 홀수이다.

Q3. 홍길동씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [6]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

Q4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [7]:
pin = "881120-1068234"
print(pin[7])

1

Q5. 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [8]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)
'a#b#c#d'

a#b#c#d

'a#b#c#d'

Q6. [1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.

In [9]:
a = [1, 3, 5, 4, 2]
a.sort( )
a.reverse( )
print(a)

[5, 4, 3, 2, 1]

Q7. ['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

In [10]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

Q8. (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

In [11]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

Q9. 다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우는 어떤 경우인가? 그리고 그 이유를 설명해 보자.

In [13]:
a[[1]] = 'python'
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unhashable type: 'list'

SyntaxError: invalid syntax (<ipython-input-13-7916e522ba1c>, line 2)

오류가 발생하는 이유는 딕셔너리의 키로는 변하는(mutable) 값을 사용할 수 없기 때문이다. 위 예에서 키로 사용된 [1]은 리스트이므로 변하는 값이다. 다른 예에서 키로 사용된 문자열, 튜플, 숫자는 변하지 않는(immutable) 값이므로 딕셔너리의 키로 사용이 가능하다.

Q10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [14]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

Q11. a 리스트에서 중복된 숫자들을 제거해 보자.

In [16]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

Q12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언 한 후 a의 두 번째 요솟값을 변경하면 b의 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해서 설명해 보자.

[1, 4, 3]이 출력된다. a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

## 03장 프로그램의 구조를 쌓는다! 제어문 ##

Q1. 다음 코드의 결괏값은 무엇일까?

결괏값으로 shirt 가 출력된다.

1. 첫 번째 조건: "wife"라는 단어는 a 문자열에 없으므로 거짓이다.
2. 두 번째 조건: "python"이라는 단어는 a 문자열에 있지만 "you" 역시 a 문자열에 있으므로 거짓이다.
3. 세 번째 조건: "shirt"라는 단어가 a 문자열에 없으므로 참이다.
4. 네 번째 조건: "need"라는 단어가 a 문자열에 있으므로 참이다.
가장 먼저 참이 되는 것이 세 번째 조건이므로 "shirt"가 출력된다.

Q2. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [17]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1

print(result)

166833

Q3. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

In [18]:
i = 0
while True:
    i += 1 
    if i > 5: break
    print ('*' * i)

*
**
***
****
*****

Q4. for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [19]:
for i in range(1, 101):
...    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Q5. for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [20]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
    total += score 

average = total / len(A)
print(average)

79.0

Q6. 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음과 같은 코드가 있다.

In [22]:
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
        
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]
print(result)
[2, 6, 10]

[2, 6, 10]

[2, 6, 10]